<div class="text-warning mt-5 p-lg-5">
<p><strong>tel:</strong> 0551590950</p>
  <p><a href="https://www.facebook.com/%D0%93%D1%80%D1%83%D0%BF%D0%BF%D0%B0-%D0%92%D0%B8%D1%82%D0%B0%D0%BB%D0%B8%D0%BA%D0%B0-1410274832594636"><strong>faceBook</strong></a></p>
  <p><a href="https://www.instagram.com/gruppa_vitalica/"><strong>instagram</strong></a></p>

<button class="btn btn-warning" (click)="buyError()">перейти в whatsApp</button>
</div>
