
.link{

  text-transform: uppercase;
  text-decoration: none;
  color: goldenrod;
}

ul{
  list-style: none;
  margin: 0;
}

li{
  display: inline-block;
  margin: 20px;
}

.active{
  color: white;
}
