<div>
  <ul>
    <li><a routerLink="/home" class="link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">home</a>
    </li>
    <li><a routerLink="/galery" class="link" routerLinkActive="active"
           [routerLinkActiveOptions]="{exact: true}">galery</a></li>
    <li><a routerLink="/music" class="link" routerLinkActive="active"
           [routerLinkActiveOptions]="{exact: true}">music</a></li>
    <li><a routerLink="/video" class="link" routerLinkActive="active"
           [routerLinkActiveOptions]="{exact: true}">video</a></li>
    <li><a routerLink="/contact" class="link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">contact</a>
    </li>
    <li><a routerLink="/ticket" class="link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">ticket</a>
    </li>
    <li><a class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal">купить
      билеты</a></li>
  </ul>
</div>

