
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content bg-black mt-5">
      <div class="modal-header">
        <h5 class="modal-title text-warning" id="exampleModalLabel">группа Виталика</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-warning">
        Купить билеты можно по телефону или whatsApp
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button"  routerLink="/contact" class="link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="btn btn-warning" data-bs-dismiss="modal">Купить</button>
      </div>
    </div>
  </div>
</div>
