<div class="opi mt-5">
  <p class="paragraf"><i> группа Виталика основана в 2008 году Щегловым Виталием, Евгением Щегловым и Александром
    Малышевым. Не для коммерческого успеха, а удовольствия для! Всем, кому понравилось наше творчество - приходите на
    концерты, будет душевно!</i></p>
  <h1><span>УЧАСТНИКИ:</span></h1>
  <h3 class="mt-5"><span>Лена Нечаева</span></h3>
  <img
    src="https://scontent.ffru2-1.fna.fbcdn.net/v/t31.18172-8/12771881_1676833642605419_4633757708346243670_o.jpg?_nc_cat=111&ccb=1-5&_nc_sid=730e14&_nc_ohc=KcytJRQo8dwAX9GWq1D&_nc_ht=scontent.ffru2-1.fna&oh=e86f14b7c8b4e40f8e9646f8b90729bd&oe=61CBB059"
    alt="lena" width="500">

  <h3><span>Евгений Щеглов</span></h3>

  <img
    src="https://scontent.ffru2-1.fna.fbcdn.net/v/t31.18172-8/12778829_1676833599272090_5540343399921100423_o.jpg?_nc_cat=111&ccb=1-5&_nc_sid=730e14&_nc_ohc=bvqET0q4p74AX-t6DnF&_nc_ht=scontent.ffru2-1.fna&oh=6bcfecc35f10d57cb6bff21b019f5136&oe=61CC824F"
    alt="john" width="500">

  <h3><span>Иван Чижиков</span></h3>

  <img
    src="https://scontent.ffru2-1.fna.fbcdn.net/v/t31.18172-8/12779082_1676833222605461_4948557946123678439_o.jpg?_nc_cat=107&ccb=1-5&_nc_sid=730e14&_nc_ohc=BfXSZcY-JaIAX8Vik1W&_nc_ht=scontent.ffru2-1.fna&oh=d873e98c76e52fdecb839befa9d01837&oe=61CC8D25"
    alt="vano" width="500">

  <h3><span>Виталий Щеглов</span></h3>

  <img
    src="https://scontent.ffru2-1.fna.fbcdn.net/v/t31.18172-8/12747476_1676833472605436_2440746832416976553_o.jpg?_nc_cat=101&ccb=1-5&_nc_sid=730e14&_nc_ohc=LXh8wU2frVwAX8l1X9D&_nc_ht=scontent.ffru2-1.fna&oh=ce63c9b6993f0936e43241652a0bde76&oe=61CEBF67"
    alt="vital" width="500">
</div>
<div class="inst mt-5">
  <h2>ИНСТРУМЕНТАЛ:</h2>
  <ul class="ul">
    <li>БАС</li>
    <li>КЛАВИШИ</li>
    <li>БАРАБАНЫ</li>
    <li>ГИТАРА</li>
    <li>БЛОКФЛЕЙТА</li>
    <li>МЕЛОДИКА</li>
    <li>КАХОН</li>
  </ul>

  <div>Интересные факты:</div>
</div>
