<div class="mt-5">
  <p class="text-warning">Песня Мотылька</p>
  <audio controls>
    <source src="/src/audio/motil.mp3">
    <p>Ваш браузер не поддерживает аудио</p>
  </audio>
  <p class="text-warning">Песня про Питер</p>
  <audio controls>
    <source src="/src/audio/piter.mp3">
    <p>Ваш браузер не поддерживает аудио</p>
  </audio>
  <p class="text-warning">Песня о вере, надежде, любви</p>
  <audio controls>
    <source src="/src/audio/внл.mp3">
    <p>Ваш браузер не поддерживает аудио</p>
  </audio>
</div>
