<div id="carouselExampleIndicators" class="carousel slide mt-5" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://scontent.ffru2-1.fna.fbcdn.net/v/t31.18172-8/13975321_1750430965245686_4061616418317881642_o.jpg?_nc_cat=109&ccb=1-5&_nc_sid=19026a&_nc_ohc=pM4zO1OsI8AAX9z6Rcp&_nc_ht=scontent.ffru2-1.fna&oh=0cc9b34b3b64f64b658d808aa345f756&oe=61CCD1E6" class="d-block w-100" alt="9">
    </div>
    <div class="carousel-item">
      <img src="https://scontent.ffru2-1.fna.fbcdn.net/v/t1.6435-9/71724725_2438579683097474_3389257748104347648_n.jpg?_nc_cat=106&ccb=1-5&_nc_sid=730e14&_nc_ohc=Kp3yqt0_630AX-UnZnZ&_nc_ht=scontent.ffru2-1.fna&oh=58d411f5ddc66d2350c3a8cb4c7f9038&oe=61CD170E" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://scontent.ffru2-1.fna.fbcdn.net/v/t31.18172-8/12711225_1676833339272116_7340895142245009628_o.jpg?_nc_cat=104&ccb=1-5&_nc_sid=730e14&_nc_ohc=hrp53ICMX-QAX_4CBt2&_nc_ht=scontent.ffru2-1.fna&oh=ee1cca3d653fa934f8994d432940899a&oe=61CB77C5" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://scontent.ffru2-1.fna.fbcdn.net/v/t1.18169-9/12321624_1646915875597196_2323293702545879562_n.jpg?_nc_cat=109&ccb=1-5&_nc_sid=19026a&_nc_ohc=dZq9c-tuiA4AX_h1sGV&_nc_ht=scontent.ffru2-1.fna&oh=1f745a2fb9bdd6e9cea2f59d3ddd0269&oe=61CB8081" class="d-block w-100" alt="...">
    </div>

  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
